#quiz-app {
    display: none;
    height: 100%;
    background-image: linear-gradient(to right, #cddc39, #1de9b6);
}

.card {
    padding: 50px;
    margin-top: 50px;
}
.card-content ol li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.choice-text {
    padding: 13px;
    color: #fff;
    background-color: #2196f3;
    text-align: center;
    letter-spacing: 0.5px;
    cursor: pointer;
    font-size: 1.2rem;
    line-height: inherit;
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 20px !important;
}
.choice-text:focus {
    background-color: #2196f3;
}
.choice-text:hover {
    background-color: #1e88e5;
}
.correct {
    background-color: #388e3c !important;
}

.incorrect {
    background-color: #ef5350 !important;
}
/* hud  */

#hud {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}
