#results {
    height: 100%;
    color: white;
    background-image: linear-gradient(to right, #cddc39, #1de9b6);
    padding: 10%;
    font-family: 'Roboto Slab', serif;
    display: none;
}
.score p {
    font-size: 1.5rem;
}
.score a {
    margin-top: 50px;
}

#username {
    font-size: 1.3rem !important;
}
